:root {
    --primary-color: #dd5903;
    --primary-color-semi: rgba(221, 89, 3, 0.3);
    --content-color: #363636;
    --secondary-color: #780401;
    --color-background: #ffffff;
    --color-text: #333333;
    --font-body: "Jost", sans-serif;
    --font-heading: "Cormorant", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

.color-white {
    color: var(--color-background);
}

.btn-color-white {
    background-color: var(--color-background);
}

.color-secondary {
    color: var(--secondary-color);
}

.section-padding-top {
    padding-top: 82px;
}

.section-padding-bottom {
    padding-bottom: 82px;
}

.button {
    position: relative;
    z-index: 9;
    display: inline-block;
    padding: 12px 30px;
    border: none;
    color: var(--btn-color);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.4s ease-in;
    cursor: pointer;
    min-height: 42px;
    background-color: var(--color-background);
}

.button-link:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px);
    color: var(--color-background);
}

.btn-outline-black {
    background: none;
    border: 2px solid;
    border-color: #000;
    color: #000;
    transition: all 0.3s ease;
}

.btn-outline-black:hover {
    background-color: #000;
    color: var(--color-background);
    transform: translateY(-2px);
}

.button.button-link-underline {
    padding: 7px 0;
    background: none;
    color: inherit;
    border-radius: 0;
    line-height: 1;
    margin-bottom: 2px;
    position: relative;
    min-height: auto;
}

.button.button-link-underline::before {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    content: "";
    transition: transform 0.2s ease;
    transform-origin: 100% 0;
}

.button.button-link-underline:hover::before {
    transform: scaleX(0);
}

.button.btn-outline {
    background: none;
    border: 2px solid;
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    transition: all 0.3s ease;
}

.button.btn-outline:hover {
    background-color: var(--secondary-color);
    color: var(--color-background);
    transform: translateY(-2px);
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding-right: 24px;
    padding-left: 24px;
}

.site_header {
    padding: 24px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--color-background);
    transition: all 0.3s ease;

}

.header_right_content {
    gap: 24px;
}

.site_header .left-menu .left_menu_list,
.header_right_content .menu_list_wrapper .menu_list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 24px;
}

.site_header .left-menu .left_menu_list .list-item a,
.header_right_content .menu_list_wrapper .menu_list a {
    color: var(--content-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    display: flex;
    padding-bottom: 5px;
}

.site_header .left-menu .left_menu_list .list-item a::before,
.header_right_content .menu_list_wrapper .menu_list a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: var(--primary-color);
    transition: width 0.3s ease;
}

.site_header .left-menu .left_menu_list .list-item a:hover::before,
.header_right_content .menu_list_wrapper .menu_list a:hover::before,
.site_header .left-menu .left_menu_list .list-item a.active::before,
.header_right_content .menu_list_wrapper .menu_list a.active::before {
    width: 100%;
}


.header_right_content .button_wrapper .button_link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_right_content .button_wrapper .button_link .icon-wrapper {
    color: var(--content-color);
    font-size: 14px;
    text-decoration: none;
}

.site_header .logo-wrapper img {
    width: 180px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.banner_section {
    height: 660px;
    padding: 60px 0;
}

.banner_section .swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner_section .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.banner_section .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 16s ease;
}

.banner_section .swiper-slide-active img {
    transform: scale(1.15);
}

.banner_section .background-overlay {
    background-color: #000000;
    opacity: 0.3;
    transition: all 0.3s;
    inset: 0;
    position: absolute;
    z-index: 1;
}

.banner_section .banner_shape {
    transform: rotate(180deg);
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.banner_section .banner_shape svg {
    width: calc(180% + 1.3px);
    height: 8px;
    fill: #fff;
}

.banner_section .banner_content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    width: 70%;
}

.banner_section .banner_content .banner-subtitle {
    font-size: 16px;
}

.banner_section .banner_content .banner-title {
    font-size: 72px;
    text-transform: uppercase;
}

.about_section .about_content {
    max-width: 710px;
    margin: auto;
}

.about_section .about_content .about-subtitle-wrap {
    margin: 0px 0px 20px 0px;
    color: var(--primary-color);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

.about_section .about_content .about-title {
    font-size: 56px;
    text-transform: uppercase;
}

.about_section .about_content .about-title-text {
    color: var(--content-color);
    margin-top: 20px;
}

.category_section .category_content .image_wrapper img {
    border-radius: 50vw 50vw 0 0;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.category_section .category_content .category_title h2 {
    color: var(--secondary-color);
    font-size: 28px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}

.category_section .category_content .category_title h2:hover {
    color: var(--primary-color);
}

.category_section .content_wrapper:nth-child(1) {
    padding: 0px 48px 0px 0px;
}

.category_section .content_wrapper:nth-child(2) {
    padding: 80px 24px 0 24px;
}

.category_section .content_wrapper:nth-child(3) {
    padding: 0px 0 0px 48px;
}

.event_banner_section {
    position: relative;
    padding: 200px 0;
}

.event_banner_section .parallax-img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.event_banner_section .parallax-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event_banner_section .event_banner_content {
    max-width: 1200px;
    margin: auto;
    padding: 0 100px;

}

.event_banner_section .event_banner_content .content_wrapper {
    padding: 10px;
    background-color: #E7D2C1E6;
}

.event_banner_section .event_banner_content .content_wrapper .text_container {
    border: 1px dashed #BC7944;
    padding: 60px 60px 60px 60px;
}

.event_banner_section .event_banner_content .content_wrapper .text_container .title,
.menu_banner_section .menu_banner-leftcontent .content_wrapper .pt-title {
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
}

.story_section .story_section_cardwrapper {
    display: grid;
    gap: 48px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.story_section .story_section_cardwrapper .card_wrapper .img-container img {
    width: 100%;
    height: 100%;
}

.story_section .story_section_cardwrapper .card_wrapper .content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.story_section .story_section_cardwrapper .card_wrapper .content_wrapper .pt-subtitle {
    color: var(--primary-color);
    font-size: 13px;
    margin-bottom: 20px;
}

.story_section .story_section_cardwrapper .card_wrapper .content_wrapper .pt-title {
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.story_section .story_section_cardwrapper .card_wrapper .content_wrapper .pt-title-text p {
    font-size: 18px;
    color: var(--content-color);
    margin-bottom: 20px;
}

.story_section .story_section_cardwrapper .card_wrapper .content_wrapper .sign_img_wrapper img {
    height: 42px;
    width: auto;
}

.menu_banner_section {
    display: flex;
}

.menu_banner_section .menu_banner-leftcontent {
    width: 40%;
    background-color: #E7D2C1E6;
    padding: 10px;
}

.menu_banner_section .menu_banner-leftcontent .content_wrapper {
    border: 1px dashed #BC7944;
    padding: 80px;
}

.menu_banner_section .menu_banner-rightcontent {
    width: 60%;
    position: relative;
}

.menu_banner_section .menu_banner-rightcontent .img_wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.menu_banner_section .menu_banner-rightcontent .img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu_wrapper_section .menu_list_wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 90px
}

.menu_wrapper_section .menu_list_wrapper .menuListContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menu_wrapper_section .menu_list_wrapper .list_item_wrapper .header-wrapper {
    margin: 0px 0px 32px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-color: #DD5903;
}

.menu_wrapper_section .menu_list_wrapper .list_item_wrapper .header-wrapper .pt-title {
    font-size: 30px;
}

.menu_wrapper_section .menu_list_wrapper .list_item_wrapper .menu_itms_wrapper .menu-item {
    margin-bottom: 30px;
}

.menu_wrapper_section .menu_list_wrapper .list_item_wrapper .menu_itms_wrapper .menu-item .menu-header {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 6px;
}

.menu_wrapper_section .menu_list_wrapper .list_item_wrapper .menu_itms_wrapper .menu-item .menu-header .menu-title,
.contact_info_wrapper .contact_grid_wrapper .subscribe_content_wrapper .pt-title,
.contact_info_wrapper .contact_grid_wrapper .contact_info .pt-title-wrap .pt-title {
    font-size: 24px;
    font-weight: 400;
}

.menu_wrapper_section .menu_list_wrapper .list_item_wrapper .menu_itms_wrapper .menu-item .menu-header .menu-lines {
    background-image: linear-gradient(to right, #000 25%, rgba(255, 255, 255, 0) 0%);
    background-size: 8px 2px;
    background-repeat: repeat-x;
    flex-grow: 1;
    height: 2px;
}

.menu_wrapper_section .menu_list_wrapper .list_item_wrapper .menu_itms_wrapper .menu-item .menu-header .menu-price {
    color: var(--content-color);
    font-size: 20px;

}

.menu_wrapper_section .menu_list_wrapper .list_item_wrapper .menu_itms_wrapper .menu-item .menu-details {
    color: var(--content-color);
    opacity: 0.6;
}

.food_category_images_wrapper {
    display: flex;
}

.food_category_images_wrapper .pt-cta-wrap {
    width: 25%;
    position: relative;
    overflow: hidden;
}

.food_category_images_wrapper .pt-cta-wrap .pt-cta-img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.35s ease-in-out;
}

.food_category_images_wrapper .pt-cta-wrap:hover .pt-cta-img {
    transform: scale(1.07);
}

.food_category_images_wrapper .pt-cta-wrap .pt-cta-img img {
    width: 100%;
    height: 100%;
}

.food_category_images_wrapper .pt-cta-wrap .pt-cta-overlay {
    background-color: #000000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    height: 101%;
    transition: 0.35s;
}

.food_category_images_wrapper .pt-cta-wrap:hover .pt-cta-overlay {
    opacity: 0.4;
}

.food_category_images_wrapper .pt-cta-wrap .pt-cta-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    z-index: 9;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
}

.food_category_images_wrapper .pt-cta-wrap:hover .pt-cta-content {
    opacity: 1;
}

.food_category_images_wrapper .pt-cta-wrap .pt-cta-content::before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    content: "";
    transform: scale(0, 1);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transition: opacity 0.35s, transform 0.35s;
    opacity: 0;
}

.food_category_images_wrapper .pt-cta-wrap .pt-cta-content::after {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    content: "";
    transform: scale(1, 0);
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    transition: opacity 0.35s, transform 0.35s;
    opacity: 0;
}

.food_category_images_wrapper .pt-cta-wrap .pt-cta-content .pt-cta-title {
    color: #fff;
    font-size: 36px;
}

.food_category_images_wrapper .pt-cta-wrap .pt-cta-content .pt-cta-text {
    color: #fff;
    font-size: 15px;
}

.food_category_images_wrapper .pt-cta-wrap:hover .pt-cta-content::before {
    opacity: 1;
    transform: scale(1);
}

.food_category_images_wrapper .pt-cta-wrap:hover .pt-cta-content::after {
    opacity: 1;
    transform: scale(1);
}

.food_category_images_wrapper .pt-cta-wrap .pt-cta-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
}

.contact_info_wrapper .contact_grid_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;

}

.contact_info_wrapper .contact_grid_wrapper .form-fields .fields-container {
    position: relative;
    width: 100%;
    height: 42px;
    margin-bottom: 16px;
}

.contact_info_wrapper .contact_grid_wrapper .form-fields .fields-container input[type="email"] {
    border-bottom: 1px solid #000;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 16px;
    padding: 5px 0;
    width: 100%;
    border-radius: 0;
}

.contact_info_wrapper .contact_grid_wrapper .form-fields .fields-container input[type="email"]:focus,
.contact_info_wrapper .contact_grid_wrapper .form-fields .fields-container input[type="email"]:active {
    border-bottom: 1px solid #000;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    box-shadow: none;
    outline: none;
}

.contact_info_wrapper .contact_grid_wrapper .form-fields .fields-container .btn_icon_wrapper {
    border: 0;
    position: absolute;
    right: 10px;
    background-color: transparent;
    top: 6px;
}

.contact_info_wrapper .contact_grid_wrapper .agree-to-terms {
    position: relative;
    padding-left: 23px;
}

.contact_info_wrapper .contact_grid_wrapper .agree-to-terms input[type="checkbox"] {
    position: absolute;
    top: 3px;
    left: 0;
    color: var(--color-text);
}

.contact_info_wrapper .contact_grid_wrapper .agree-to-terms a {
    color: var(--color-text);
    text-decoration: none;
}

.contact_info_wrapper .contact_grid_wrapper .follow_social_wrap .pt-title {
    font-size: 20px;
    text-transform: uppercase;
}

.contact_info_wrapper .contact_grid_wrapper .follow_social_wrap .social-navigation .menulist .listitem {
    list-style: none;
}

.contact_info_wrapper .contact_grid_wrapper .follow_social_wrap .social-navigation .menulist .listitem a {
    color: #000;
}

.contact_info_wrapper .contact_grid_wrapper .contact_info .pt-title-wrap .pt-title-text {
    font-size: 14px;
}

.contact_info_wrapper .contact_grid_wrapper .contact_info .opening_hrs_wrap .list_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 14px;
}





@media (max-width:992px) {
    .story_section .story_section_cardwrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .story_section .story_section_cardwrapper .card_wrapper:nth-child(2) {
        order: 3;
        grid-column: 1 / span 2;
    }

    .contact_info_wrapper .contact_grid_wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .contact_info_wrapper .contact_grid_wrapper> :first-child {
        grid-column: 1 / -1;
    }

}

@media (max-width:576px) {
    .container {
        padding-right: 16px;
        padding-left: 16px;
    }
     .contact_info_wrapper .contact_grid_wrapper {
        grid-template-columns: 1fr ;
    }

    
}